[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/newsprint"]
	path = themes/newsprint
	url = https://github.com/SamWhited/newsprint
