[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
wtforms = "*"
flask-wtf = "*"
werkzeug = "*"
watchdog = "*"
slackclient = "*"
psutil = "*"
celery = {extras = ["redis"]}
"bs4" = "*"
tatsu = "*"
toml = "*"

[dev-packages]
"flake8" = "*"
pycodestyle = "*"

[requires]
python_version = "3.7"
