[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
flask = "*"
wtforms = "*"
flask-wtf = "*"
werkzeug = "*"
watchdog = "*"
slackclient = "*"


[dev-packages]

"flake8" = "*"


[requires]

python_version = "3.6"
