alabaster==0.7.12
Babel==2.9.0
beautifulsoup4==4.9.1
blinker==1.4
bs4==0.0.1
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
coverage==5.3
cycler==0.10.0
docutils==0.16
enolib==0.8.1
feedgenerator==1.9.1
flake8==3.8.3
google-api-core==1.21.0
google-api-python-client==1.9.3
google-auth==1.18.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
imagesize==1.2.0
invoke==1.4.1
Jinja2==2.11.2
kiwisolver==1.3.0
livereload==2.6.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
numpy==1.19.2
oauthlib==3.1.0
packaging==20.8
pelican==4.5.3
Pillow==8.0.1
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.4.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
TatSu==5.5.0
toml==0.10.1
tornado==6.1
Unidecode==1.1.2
uritemplate==3.0.1
urllib3==1.25.9
