beautifulsoup4==4.9.1
blinker==1.4
bs4==0.0.1
click==7.1.2
docutils==0.16
enolib==0.8.1
feedgenerator==1.9.1
Jinja2==2.11.2
MarkupSafe==1.1.1
pelican==4.5.3
Pygments==2.6.1
six==1.16.0
python-dateutil==2.8.1
pytz==2020.1
soupsieve==2.0.1
TatSu==5.5.0
toml==0.10.1
Unidecode==1.1.2
# #history-B.1: migrate from OS X to Ubuntu; remove not-covered packages
