require_relative '{{ ts_relpath }}'

module {{ amod }}::TestSupport{{ bmod }}{{ cmod }}

  ::{{ amod }}::TestSupport{{ bmod }}[ self ]

  include Constants

  extend Home_::Quickie

  {{ acon }}_ = {{ acon }}_

  {{ pre_describe }}describe "{{ desc }}" do

    {{ pre_body }}{{ body }}{{ cover }}
  end
end
