require_relative 'test-support'

module {{ amod }}::TestSupport{{ bmod }}::{{ cmod }}

  ::{{ amod }}::TestSupport{{ bmod }}[ self ]

  include CONSTANTS

  extend TestSupport_::Quickie

  {{ acon }}_ = {{ acon }}_

  Sandboxer = TestSupport_::Sandbox::Spawner.new

  describe "{{ desc }}" do
{{ body }}{{ cover }}
  end
end
