body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

/*
# #history-B.5: sunset tic-tac-toe demo stuff
# #history-B.4: merge in a few lines from CRA
# #born
*/
