require_relative 'test-support'

module {{ amod }}::TestSupport{{ bmod }}::{{ cmod }}

  ::{{ amod }}::TestSupport{{ bmod }}[ self ]

  include CONSTANTS

  {{ acon }} = ::{{ amod }}

  extend TestSupport::Quickie

  Sandboxer = TestSupport::Sandbox::Spawner.new

  describe "{{ amod }}{{ bmod }}::{{ cmod }}" do
{{ body }}{{ cover }}
  end
end
