# At #birth this file contained the dozens and dozens of gitignore entries
# added by electron-forge. At #history-A.1 we removed *all* of them because:
#
# - such entries are superfluous deadweight that everyone is forever afraid
#   to remove even though all they do is cause noise, superstition and FUD
#
# - it's better to add entries as they become relevant so their purpose is
#   more self-documenting and traceable
#
# We preserve this note and the annotated revision history so that:
#
# - you can easily review the generated entries that were removed and add
#   them back in piece-by-piece as they become relevant and useful

# #history-A.1: delete all entries
# #birth (from generated)
